{% extends "base.html" %}
{% block content %}

<h1>Add Users</h1>
<form action="" method="post" name="Add Users">
    {{ form.hidden_tag() }}

    <h6><b>User</b></h6>
    {{ form.username(class_='form-control') }}
    {% for error in form.username.errors %}
     <div class="alert alert-danger w-100" role="alert">
        [{{ error }}]
     </div>
    {% endfor %}

    <h6><b>Password</b></h6>
    {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
      [{{ error }}]
    </div>
    {% endfor %}

    <p><input type="submit" class="btn btn-primary" value="Add"></p>
</form>
{% endblock %}
