{% extends "baseManager.html" %}

{% block content %}
<div class="bg-dark text-light p-3 text-center" style="min-height: 90vh;">
<form action="" method="post" name="Add Options" class='p-5 container border border-light' align="left" style="max-width: 700px;">
  <h1>Add Options</h1>
    {{ form.hidden_tag() }}

    <br>

    <h5><b>Hours</b></h5>
    {{ form.hours(class_='form-control') }}
    {% for error in form.hours.errors %}
     <div class="alert alert-danger w-100" role="alert">
        [{{ error }}]
     </div>
    {% endfor %}

    <h5></h5>

    <h5><b>Price</b></h5>
    {{ form.price(class_='form-control') }}
    {% for error in form.price.errors %}
     <div class="alert alert-danger w-100" role="alert">
        [{{ error }}]
     </div>
    {% endfor %}
<br>
    <p><input type="submit" class="btn btn-primary" value="Add"></p>
</form>
</div>
{% endblock %}
