{% extends "base.html" %}

{% block content %}
<h1>Add Payment Details</h1>
<form action="" method="post" name="Add Payment Details">
    {{ form.hidden_tag() }}

    <div class="container" style=" width:600px">
      <h6 align="left"><b>Name on Card</b></h6>
      {{ form.cardName(class_='form-control', placeholder='John Doe') }}
      {% if form.cardName.errors %}
      <ul class="errors">
          {% for error in form.cardName.errors %}
              <li style="color:red; font-size:90%">
                  {{ error }}
              </li>
          {% endfor %}
      </ul>
      {% endif %}
      <p></p>

          <h6 align="left"><b>Card number</b></h6>
          {{ form.cardNum(class_='form-control', placeholder='XXXX XXXX XXXX XXXX', style="width: 300px;") }}
          {% if form.cardNum.errors %}
          <ul class="errors">
              {% for error in form.cardNum.errors %}
                  <li style="color:red; font-size:90%">
                      {{ error }}
                  </li>
              {% endfor %}
          </ul>
          {% endif %}

          <p></p>

          <h6 align="left"><b>Expiry Date</b></h6>
          {{ form.expiryDate(class_='form-control', placeholder='MM/YY', style="width: 100px;") }}
          {% if form.expiryDate.errors %}
          <ul class="errors">
              {% for error in form.expiryDate.errors %}
                  <li style="color:red; font-size:90%">
                      {{ error }}
                  </li>
              {% endfor %}
          </ul>
          {% endif %}

      <p></p>

      <div class="form-group px-5">
          {{ form.submit(class_="btn btn-primary", style="width:100%") }}
      </div>
    </div>
</form>

{% endblock %}
