{% extends "base.html" %}

{% block content %}

<div class="bg-dark text-light p-3 text-center" style="min-height: 90vh;">

<form action="" method="post" name="Customer Feedback" class='p-5 container border border-light' style="max-width: 1200px;">
  <h1 align="left"><b>Send Scooter Feedback</b></h1>

    {{ form.hidden_tag() }}

    <h6 class="secondary" align="left"> Your feedback helps us improve our services. We hope you'll help by filling in this feedback form.</h6>

    <p></p>

    <h5 align="left">Scooter ID</h5>
    {{ form.scooterId(class_='form-control', style="width: 200px;") }}
    {% if form.scooterId.errors %}
    <ul class="errors">
        {% for error in form.scooterId.errors %}
            <li style="color:red; font-size:90%">
                {{ error }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p></p>

    <h5 align="left">Feedback</h5>
    {{ form.feedback(class_='form-control', style="height: 200px;")}}
    {% if form.feedback.errors %}
    <ul class="errors">
        {% for error in form.feedback.errors %}
            <li style="color:red; font-size:90%">
                {{ error }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p></p>

    <h5 align="left">Please rate the importance of your feedback</h5>
    {{ form.feedbackPriority(class_='form-control mb-2', style="width: 100px;") }}
    <p></p>
    <h6 align="left">Feedback Priority (On a scale of 1(low) to high(9))</h6>
    {% if form.feedbackPriority.errors %}
    <ul class="errors">
        {% for error in form.feedbackPriority.errors %}
            <li style="color:red; font-size:90%">
                {{ error }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p></p>

    <div class="form-group" align="left">
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>

</div>
{% endblock %}
