{% extends "base.html" %}
{% block content %}
<div class="bg-dark text-light p-3 text-center" style="min-height: 90vh;">
<div class="mt-4 mx-4">
  <div class="container bg-light text-dark p-3 text-center border border-primary rounded"style="min-width:600px">
    <div class="text-center">
        <h3><b>Credit card<b></h3>
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
      <h6 align="left">Cardholder name</h6>
        <div class="inputbox"> {{ form.cardName(class_='form-control', placeholder="Name on card") }} </div>
        {% if form.cardName.errors %}
        <ul class="errors">
            {% for error in form.cardName.errors %}
                <li style="color:red; font-size:90%">
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <p></p>

        <h6 align="left">Card number</h6>
        <div class="inputbox"> {{ form.cardNum(class_='form-control', placeholder="XXXX XXXX XXXX XXXX") }}</div>
        {% if form.cardNum.errors %}
        <ul class="errors">
            {% for error in form.cardNum.errors %}
                <li style="color:red; font-size:90%">
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <p></p>

        <div class="d-flex flex-row">
          <div class="form-group col-md-2">
            <h6 align="left">Expiry</h6>
              <div class="inputbox"> {{ form.expiration(class_='form-control', placeholder='MM/YY', style="width: 100px;") }} </div>
              {% if form.expiration.errors %}
              <ul class="errors">
                  {% for error in form.expiration.errors %}
                      <li style="color:red; font-size:90%">
                          {{ error }}
                      </li>
                  {% endfor %}
              </ul>
              {% endif %}
          </div>

          <div class="form-group col-md-6 px-3">
            <h6 align="left">CVV</h6>
            <div class="inputbox"> {{ form.securityNum(class_='form-control' , placeholder='XXX' , style="width: 100px;") }} </div>
            {% if form.securityNum.errors %}
            <ul class="errors">
                {% for error in form.securityNum.errors %}
                    <li style="color:red; font-size:90%">
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>

        <p></p>

        <div > {{ form.submit(class_="btn btn-primary", style="width:100%") }} </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
