{% extends "baseManager.html" %}
{% block content %}

<h1>All Unbooked Scooters</h1>

    <!-- Gets all the assessments from database and outputs incomplete ones (where done == False)  -->
    {% for scooter in unusedScooters %}
          <h5><b>Scooter Id -</b>{{scooter.id}}</h5>
          <h6><b>Location -</b> {{scooter.location}}</h6>
            <a href ="/remove_scooters/delete_scooter/{{ scooter.id }}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Delete Scooter</a>
      <hr>
    {% endfor %}

{% endblock %}
