<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <!-- If title is not supplied then show 'Untitled' -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Untitled</title>
    {% endif %}
</head>

<style>
.alert {
  position:fixed;
  z-index: 999;
}
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
      <div class="container">
        <a class="navbar-brand" href="#">Skrrt</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">

            <li class="nav-item"><a class="nav-link" href="/unregistered_booking">View Scooters</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Go Back</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash messages for categories (e.g. success, error) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %} {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show w-100 opacity-75" role="alert">
                  <div class="row">
                    <div class='w-90'>{{ message }}</div>
                    <div class="w-10"><button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
                  </div>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show w-100 opacity-75" role="alert">
                  <div class="row">
                    <div class='w-90'>{{ message }}</div>
                    <div class="w-10"><button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
                  </div>
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section class="bg-dark text-light p-3 text-center" style="min-height: 90vh;">
     <div class="container">
           <h1><span class="text-light">
             <div class="mt-4 mx-4">
               <div class="container bg-light text-dark p-5 text-center border border-primary rounded" style="min-width:600px">
                 <div class="text-center">
                     <h3><b>Credit Card Information<b></h3>
                 </div>

                 <form action="" method="post">
                     {{ form.hidden_tag() }}
                  <h6 align="left">Email address</h6>
                    <div class="inputbox"> {{ form.email(class_='form-control', placeholder="example@gmail.com") }} </div>

                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                             <li style="color:red; font-size:50%">
                                 {{ error }}
                             </li>
                         {% endfor %}
                     </ul>
                     {% endif %}

                     <p></p>

                   <h6 align="left">Cardholder name</h6>
                     <div class="inputbox"> {{ form.cardName(class_='form-control', placeholder="Name on card") }} </div>
                     {% if form.cardName.errors %}
                     <ul class="errors">
                         {% for error in form.cardName.errors %}
                             <li style="color:red; font-size:50%">
                                 {{ error }}
                             </li>
                         {% endfor %}
                     </ul>
                     {% endif %}

                     <p></p>

                     <h6 align="left">Card number</h6>
                     <div class="inputbox"> {{ form.cardNum(class_='form-control', placeholder="XXXX XXXX XXXX XXXX") }}</div>
                     {% if form.cardNum.errors %}
                     <ul class="errors">
                         {% for error in form.cardNum.errors %}
                             <li style="color:red; font-size:50%">
                                 {{ error }}
                             </li>
                         {% endfor %}
                     </ul>
                     {% endif %}

                     <p></p>

                     <div class="d-flex flex-row">
                       <div class="form-group col-md-2">
                         <h6 align="left">Expiry</h6>
                           <div class="inputbox"> {{ form.expiration(class_='form-control', placeholder='MM/YY', style="width: 100px;") }} </div>
                           {% if form.expiration.errors %}
                           <ul class="errors">
                               {% for error in form.expiration.errors %}
                                   <li style="color:red; font-size:50%">
                                       {{ error }}
                                   </li>
                               {% endfor %}
                           </ul>
                           {% endif %}
                       </div>

                       <div class="form-group col-md-6 px-3">
                         <h6 align="left">CVV</h6>
                         <div class="inputbox"> {{ form.securityNum(class_='form-control', placeholder='CCV' , style="width: 100px;") }} </div>
                         {% if form.securityNum.errors %}
                         <ul class="errors">
                             {% for error in form.securityNum.errors %}
                                 <li style="color:red; font-size:50%">
                                     {{ error }}
                                 </li>
                             {% endfor %}
                         </ul>
                         {% endif %}
                       </div>
                     </div>

                     <p></p>

                     <div> {{ form.submit(class_="btn btn-primary", style="width:100%") }} </div>
                 </form>
               </div>
             </div>
           </span></h1>
     </div>
   </section>

    <!-- jQuery, Popper.js, and Bootstrap JS respectively -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
