{% extends "baseManager.html" %}
{% block content %}
<div class="bg-dark text-light p-3 text-center" style="min-height: 90vh;">
  <h1>Customer Feedback Forms</h1>

    <!-- Gets all the assessments from database and outputs incomplete ones (where done == False)  -->
    {% for card in feedbackCards %}
          <h5><b>Scooter Id -</b>{{card.scooterId}}</h5>
          <h6><b>Priority -</b> {{card.feedbackPriority}}</h6>
            <h6><b>Feedback -</b> {{card.feedback}}</h6>
            <a href ="/view_feedback/resolve_feedback/{{ card.feedbackId }}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Issue Resolved</a>
      <hr>
    {% endfor %}
</div>
{% endblock %}
