{% extends "base.html" %}
{% block content %}
<div class="bg-dark text-light p-3 text-center">
<h1>All Scooters</h1>

<div class="row w-100">
  <div class="col-lg-6 text-light bg-dark">
    <!-- Gets all the assessments from database and outputs incomplete ones (where done == False)  -->
    {% for scooter in scooters %}
          <h5><b>{{scooter.id}}</b></h5>
          <h6><b>Location -</b> {{scooter.location}}</h6>
          {% if scooter.availability == True %}
            <h6><b>Available - </b>Available</h6>
              <a href ="/book_scooter/{{ scooter.id }}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Book Scooter</a>
          {% endif %}
          {% if scooter.availability == False %}
            <h6><b>Time left until becomes available - </b>{{scooter.timeLeft}} mins</h6>
          {% endif %}
      <hr>
    {% endfor %}
  </div>
  <div class="col-lg-6 text-light bg-dark">
    <br><br>
    <div>
      <h2>Locations in Leeds</h2>
      <img src=/static/leeds.jpg class="img-fluid"/>
      <br><br>
      <div class='row'>
        <div class=col-6>
          <h5>A = Trinity Centre</h5>
          <h5>B = Train Station</h5>
          <h5>C = Merrion Centre</h5>
        </div>
        <div class=col-6>
          <h5>D = LRI Hospital</h5>
          <h5>E = UOL Edge Sports Centre</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
